<h3>
  <%= link_to 'chart:', charts_path(id: @chart.id), class: 'btn btn-primary btn-mini', title: 'edit chart', style: "margin-top:-5px" %>
  <%=@chart.name%>
</h3>
<script type='text/javascript' src='https://www.google.com/jsapi'></script>
<%
result = []
result << [escape_javascript(@chart.chart_title), 'count']
merge_groupby_counts = Hash.new(0)
@all_results.group_by_results.each do |groupby_count|
  merge_groupby_counts[escape_javascript(groupby_count[1])] += groupby_count[2]
end
result += merge_groupby_counts.collect { |key, value| [key, value] }
count = @all_results.group_by_total
chart_results = (count <= 0) ? '[]' : raw(result)
%>
<% if @all_results.group_by_total <= 0 %>
    <div class="alert alert-error" style="margin-top:-18px">
      <h5>no results found for this chart</h5>
    </div>
<% else %>
    <%= render 'gchart',
          update_chart_url:       update_chart_json_serialized_path,
          chart_json_serialized:  raw(@chart.chart_json_serialized),
          chart_type:             @chart.chart_type,
          chart_title:            @chart.chart_title,
					# chart names may have spaces, so do this:
          chart_div_name:         "#{@chart.id}_#{@chart.user_id}_#{@chart.search_id}",
          source_name:            DataSourceField.find(@chart.group_by).data_source.name,
          source_field:           DataSourceField.find(@chart.group_by).name,
          chart_results:          chart_results
    %>
<% end %>
