<h3>
  <%= link_to 'chart:', charts_path(id: @chart.id), class: 'btn btn-primary btn-mini', title: 'edit chart', style: "margin-top:-5px" %>
  <%=@chart.name%>
</h3>
<%
result = []
result << [escape_javascript(@chart.chart_title), 'count']
merge_groupby_counts = Hash.new(0)
@all_results.group_by_results.sort.each do |groupby_count|
  merge_groupby_counts[escape_javascript(groupby_count[1])] += groupby_count[2]
end
result += merge_groupby_counts.collect { |key, value| [key, value] }
count = @all_results.group_by_total
chart_results = (count <= 0) ? '[]' : result
%>
<% if @all_results.group_by_total <= 0 %>
    <div class="alert alert-error" style="margin-top:-18px">
      <h5>no results found for this chart</h5>
    </div>
<% else %>
    <%= render 'flotr2/pie', chart: @chart, chart_results: chart_results %>
<% end %>
