<% widget = f.object %>
<% selectable_charts = Chart.list_charts(current_user) %>
<% if selectable_charts.blank? %>
		<fieldset class="item" style="margin-top:2px">
		  <div class="inline-inputs">
				<strong>There are no Charts available for selection!</strong>
		  </div>
		</fieldset>
<% else %>
		<fieldset class="item" style="margin-top:2px">
		  <div class="inline-inputs">
		    <%= f.select(:chart_id, options_for_select(selectable_charts, widget.chart_id), {}, class: "span8") %>
		    <button class="remove btn btn-mini" style="margin-top:-12px; text-decoration:none" title="remove this panel">
		      <i class="icon-remove"></i>
		    </button>
		  </div>
		  <%= f.hidden_field :id %>
		  <%= f.hidden_field :_destroy %>
		</fieldset>
<% end %>
